<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">🏃 Sportswear Store</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart 🛒</a>
        </li>

        <!-- USER AUTH STATE -->
        <% if (username && !justLoggedOut) { %>

          <li class="nav-item">
            <span class="nav-link text-info">
              Hello, <%= username %>
            </span>
          </li>

          <li class="nav-item">
            <span class="nav-link text-warning">
              CRMID: <%= crmid %>
            </span>
          </li>

          <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Logout</a>
          </li>

        <% } else { %>

          <li class="nav-item">
            <a class="nav-link text-success" href="/login">Login</a>
          </li>

        <% } %>

      </ul>
    </div>
  </div>
</nav>
